* {
    margin: 0;
    padding: 0;
	font-family: 'Varela Round', sans-serif;
}
html, body{
	background: white;
}

.title{
	color: rgb(255, 128, 179);
	font-family: 'Pacifico', cursive;
	font-size: 300%;
	text-shadow: 0px 0px 3px rgba(150, 150, 150, 1);
}

.header{
	background: white;
	text-align: center;
	padding: 20px;
	padding-bottom: 0;
	top:0;
	border-bottom: 1px solid rgb(179, 179, 179);
}

.header ul{
	text-align: center;
	vertical-align: middle;
	display: block;
}
.header ul li{
	display: inline-block;
	margin: 10px;
	transition-duration: .5s;
	vertical-align: middle;
	border-radius: 50%;
	background: rgba(50,50,50,0);
}

.header ul li a{
	color: rgba(250, 20, 19, .5);
	text-decoration: none;
	transition-duration: .5s;
	text-align: center;
	display: inline-block;
	padding: 10px;
	border-radius: 50%;	
}
.header ul li a:hover{
	box-shadow: 0 0 5px rgba(0,0,0,.2)
}
.cuentoCircle{
	display: block;
	width: 200px;
	height: 200px;
	min-width: 200px;
	border-radius: 50%;
	color: #fff;
	text-align: center;
 	display: inline-block;
  	border: 1px dotted rgb(179, 179, 179);
  	background: white;
	padding-top: 60px;
	margin: 20px;
	box-shadow: 0 0 10px rgba(0,0,0,.2);
	vertical-align: middle;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: 105% 105%;
	position: relative;
	transition-duration: .7s;
}

.cuentoCircle p{
	left: 0;
	right: 0;
	top: 65px;
	color: white;
	display: inline-block;
	vertical-align: middle;
	border-radius: 10px;
	background-size: 20%;
	position: absolute;
}
.layer {
    background-color: rgba(248, 247, 216, 0.0);
    position: absolute;
    top: 20px;
    left: 20px;
    border-radius: 50%;
	width: 80%;
    height: 80%;
    transition-duration: .7s;
}

.cuentoCircle:hover{
	background-size: 140% 140%;
	box-shadow: inset 0 0 0 1px rgba(255,255,255,1), 0 1px 2px rgba(0,0,0,1)
	z-index:0;
	backgrou
}
.cuentoCircle:hover .layer{
	 background-color: rgba(256, 256, 256, 0.4);
	 box-shadow: inset 0 0 0 1px rgba(255,255,255,1);
}
.cuentoCircle:hover p{
	color: orange;
}

.midle{
	text-align: center;
	background: rgb(242, 242, 242);
	padding: 30px;
	position: relative;
}

.titleCuento{
	padding-bottom: 20px;
	font-family: 'Raleway', sans-serif;
}

.flecha{
	display: inline-block;
	position: absolute;
	color: white;
	vertical-align: middle;
	text-align: center;
	top: 50%;
	height: 100px;
	background: rgba(0,0,0,.5);
	z-index: 10;
}

.capitulo{
	padding: 20px;
	color: white;
	min-height: 400px;	
	display: none;
	background-repeat: no-repeat;
	background-size: 100%;
	background-position: bottom;
}

.footer{
	text-align: center;
	padding: 30px;
}

/* animation */

.fade {
  animation-name: fade;
  animation-duration: 1.5s;
  animation-fill-mode:forwards;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

