{% load staticfiles %}
<html>
	<head>
		<title>Qtie World</title>
		<link rel="stylesheet" href="{% static 'CSS/main.css' %}">
		<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
		<link href="https://fonts.googleapis.com/css?family=Pacifico|Varela+Round|Raleway" rel="stylesheet">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">
	</head>

	<body>
		<div class="header">
			<h1 class="title">Classic Storys</h1>

			<ul class="botones">
				<li><a href="{% url 'cuento.views.show_main_cuentos' %}"><i class="fa fa-book fa-2x"></i></a></li>
			</ul>

		</div>
		{% block content %}
		{% endblock %}
		
		<div class="footer container-fluid">
			<p>Created by <strong>@Giselle Higa</strong></p>
		</div>
	</body>
</html>