{% load staticfiles %}
<html>
	<head>
		<title>Qtie World</title>
		<link rel="stylesheet" href="{% static 'CSS/main.css' %}">
		<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
		<link href="https://fonts.googleapis.com/css?family=Pacifico|Varela+Round" rel="stylesheet">
	</head>

	<body>
		<div class="bg">
			<div class="header container-resonsive">
				<h1 class="title">Classic Storys</h1>
			</div>
			{% block content %}
			{% endblock %}
			<div class="footer">
				<p>Created by @Giselle Higa</p>
			</div>
		</div>
	</body>
</html>