{% extends 'cuento/head.html' %}

{% block content %}
	<div class="midle container-responsive">
		<h4>Read</h4>
		<br>
		<div class="row ">
			<div class="col-xs-12">
			<ul>
				{% for cuento in cuentos%}
					<li class="cuentoCircle container-responsive" style="max-width: 30%; background-image: url('{{ cuento.iconImg.url }}')" ><spin class="layer"><a href="{% url 'cuento.views.show_cuento' pk=cuento.pk %}"><p>{{ cuento.title }}</p></a></spin></li>
				{% endfor %}
			</ul>
		</div>
		</div>
	</div>
{% endblock %}